server:
  port: 8088
spring:
  application:
    name: ASTON-GATEWAY

  main:
    banner-mode: off
  cloud:
    config:
      enabled: false

    gateway:
      routes:
        - id: astonService
          uri: lb://ASTON-SERVICE
          predicates:
            - Path=/users/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                key-resolver: "#{@ipKeyResolver}"

        - id: astonKafka
          uri: lb://ASTON-KAFKA
          predicates:
            - Path=/notifications/**

    discovery:
      locator:
        enabled: false   # true, если хочешь, чтобы Gateway сам создавал маршруты для всех сервисов автоматически

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
