server:
  port: 8088

spring:
  main:
    banner-mode: off
  cloud:
    config:
      enabled: false

    gateway:
      routes:
        - id: astonService
          uri: http://localhost:8081
          predicates:
            - Path=/users/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5     # 5 запросов в секунду
                redis-rate-limiter.burstCapacity: 10    # максимум 10 запросов подряд
                key-resolver: "#{@ipKeyResolver}"       # ограничение по IP-адресу

        - id: astonKafka
          uri: http://localhost:8082
          predicates:
            - Path=/notifications/**
